:root{
    --primary-color: #27AE60;
    --secondary-color: #EB5757;
    --grey-600: #333333;
    --grey-300: #828282;
    --grey-200: #BDBDBD;
    --grey-100: #E0E0E0;
    --grey-0: #F5F5F5;
    --white: #ffffff;
    --failure-feedback: #E60000;
    --warning-feedback: #FFCD07;
    --success-feedback: #168821;
    --information:#155BCB;

    --primary-font: 'Inter', sans-serif;
    
}