*{
    font-family: var(--primary-font);
    font-weight: 400;
}

    .title1{
        color: var(--grey-600);
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 24px;
    }

